extends layout_loggedin

block content
    div.mt-6
        h5 Welcome, username!
        h7#date Data fetched: 
        br
        br
        h7#windSpeed Wind:
        br
        h7 Production: #[strong 355]
        br
        h7 Consumption: #[strong 123]
        br
        h7 Net production: #[strong 232]
        br
        h7 Capacity in the buffer: #[strong 100%]
        br
        h7#modelledElectricityPrice Electricity price on the market:
        br
        h7 Net production market/buffer ratio: #[strong#netRatio 50/50]
        br
        h7 Under-production market/buffer ratio: #[strong#undRatio 50/50]
        br
        br
        div.form-control-range
          h7 #[strong Handle net production]
          br
          label(for='netProdMarketInput') Net production to market: 
          input#netProdMarketInput(type='range' min='0' max='100' value='50' step='1' onchange='netProdMarketChange()')
          output#netProdMarket 50
          br
          label(for='netProdBufferInput') Net production to buffer: 
          input#netProdBufferInput(type='range' min='0' max='100' value='50' step='1' onchange='netProdBufferChange()')
          output#netProdBuffer 50
          br
          br
          .col-sm-8(style="padding-left: 0")
            button#view.btn.btn-primary(name='netProduction' onclick="location.href='/dashboard_prosumer'") Update net production!
          br
        div.form-control-range
          h7 #[strong Handle under-production]
          br
          label(for='buyFromMarketInput') Buy from market: 
          input#buyFromMarketInput(type='range' min='0' max='100' value='50' step='1' onchange='buyFromMarketChange()')
          output#buyFromMarket 50
          br
          label(for='takeFromBufferInput') Take from buffer: 
          input#takeFromBufferInput(type='range' min='0' max='100' value='50' step='1' onchange='takeFromBufferChange()')
          output#takeFromBuffer 50
          br
          br
          .col-sm-8(style="padding-left: 0")
            button#view.btn.btn-primary(name='underProduction' onclick="location.href='/dashboard_prosumer'") Update under-production!
          br
          br
          a(href="http://130.240.200.34:3000/manager") Contact the manager here!

        script.
          function init() {
            $.get( "./getAll", function( data ) {
              document.getElementById("windSpeed").innerHTML = "Wind: " + "<strong>" + parseFloat(data.windSpeed).toFixed(3) + "</strong> m/s" ;
              dateStr = data.date.split("GMT")
              document.getElementById("date").innerHTML = "Data fetched: " + "<strong>" + dateStr[0] + "</strong>" ;
              document.getElementById("modelledElectricityPrice").innerHTML = "Electricity price on the market: " + "<strong>" + parseFloat(data.modelledElectricityPrice).toFixed(3) + " cent/kWH</strong>" ;
            });
          }

          window.onload = init;

          function netProdMarketChange() {
          var x = document.getElementById("netProdMarketInput").value;
          document.getElementById("netProdBufferInput").value = 100-x;
          var y = document.getElementById("netProdBufferInput").value;
          document.getElementById("netProdMarket").innerHTML = x;
          document.getElementById("netProdBuffer").innerHTML = y;
          document.getElementById("netRatio").innerHTML = x+"/"+y
          }

          function netProdBufferChange() {
          var x = document.getElementById("netProdBufferInput").value;
          document.getElementById("netProdMarketInput").value = 100-x;
          var y = document.getElementById("netProdMarketInput").value;
          document.getElementById("netProdMarket").innerHTML = y;
          document.getElementById("netProdBuffer").innerHTML = x;
          document.getElementById("netRatio").innerHTML = y+"/"+x
          }

          function buyFromMarketChange() {
          var x = document.getElementById("buyFromMarketInput").value;
          document.getElementById("takeFromBufferInput").value = 100-x;
          var y = document.getElementById("takeFromBufferInput").value;
          document.getElementById("buyFromMarket").innerHTML = x;
          document.getElementById("takeFromBuffer").innerHTML = y;
          document.getElementById("undRatio").innerHTML = x+"/"+y
          }

          function takeFromBufferChange() {
          var x = document.getElementById("takeFromBufferInput").value;
          document.getElementById("buyFromMarketInput").value = 100-x;
          var y = document.getElementById("buyFromMarketInput").value;
          document.getElementById("buyFromMarket").innerHTML = y;
          document.getElementById("takeFromBuffer").innerHTML = x;
          document.getElementById("undRatio").innerHTML = y+"/"+x
          }

          setInterval(function(){
            $.get( "./getAll", function( data ) {
              document.getElementById("windSpeed").innerHTML = "Wind: " + "<strong>" + parseFloat(data.windSpeed).toFixed(3) + "</strong> m/s" ;
              dateStr = data.date.split("GMT")
              document.getElementById("date").innerHTML = "Data fetched: " + "<strong>" + dateStr[0] + "</strong>" ;
              document.getElementById("modelledElectricityPrice").innerHTML = "Electricity price on the market: " + "<strong>" + parseFloat(data.modelledElectricityPrice).toFixed(3) + " cent/kWH</strong>" ;
            });
          }, 500);



