extends layout_loggedin

block content
    div.mt-6
        h5#username Welcome, 
        h7#date 
        br
        h7 There is no current blackout/There is a blackout affecting the following households: listlist
        br
        br
        a(href="http://130.240.200.34:3000/prosumers/") Manage prosumers here!
        br 
        br
        h7 #[strong Coal power plant status]
        br
        h7#production Production:
        br
        h7#marketBufferRatio Production market/buffer ratio:
        br
        h7 Status (started/running/stopped): #[strong Running]
        br
        br
        h7#windSpeed Wind:
        br
        h7 Market demand: #[strong Very much]
        br
        h7#electricityPrice Electricity price on the market:
        br
        h7#modelledElectricityPrice Modelled electricity price: 
        br
        br
        h7 #[strong Handle production]
        br
        label(for='prodMarketInput') Production to market: 
        input#prodMarketInput(type='range' min='0' max='100' value='50' step='1' onchange='prodMarketChange()')
        output#prodMarket 50
        br
        label(for='prodBufferInput') Production to buffer: 
        input#prodBufferInput(type='range' min='0' max='100' value='50' step='1' onchange='prodBufferChange()')
        output#prodBuffer 50
        br
        br
        .col-sm-8(style="padding-left: 0")
          button#view.btn.btn-primary(name='production' onclick="saveMarketBufferRatio()") Update production!
        br
        h7 #[strong Set electricity price]
        br
        br
        .col-md-3.mx-left(style="padding-left: 0")
            .form-group.col-lg-8(style="padding-left: 0")
                input.form-control(type='text' name='price' id='price' value='' placeholder='0.12 kr/kWH' min='1') 
        .col-sm-8(style="padding-left: 0")
          button#view.btn.btn-primary(name='priceButton' onclick="saveElectricityprice()") Update price!
        br
        h7 #[strong Update coal power plant status]
        br
        .col-sm-8(style="padding-left: 0")
          button#powerPlantStatus.btn.btn-primary(name='start' onclick="savePowerPlantStatus()")
        br
        br
        script.
          function init() {
            $.get( "./getAll", function( data ) {
              document.getElementById("windSpeed").innerHTML = "Wind: " + "<strong>" + parseFloat(data.windSpeed).toFixed(3) + "</strong> m/s" ;
              dateStr = data.date.split("GMT")
              document.getElementById("date").innerHTML = "Data fetched: " + "<strong>" + dateStr[0] + "</strong>" ;
              document.getElementById("modelledElectricityPrice").innerHTML = "Modelled electricity price: " + "<strong>" + parseFloat(data.modelledElectricityPrice).toFixed(3) + " </strong>cent/kWH" ;
            });

            $.get( "./getManagerData", function( data ) {
              document.getElementById("production").innerHTML = "Production: " + "<strong>" + parseFloat(data.production).toFixed(5) + "</strong> kWH";
              document.getElementById("electricityPrice").innerHTML = "Electricity price on the market: " + "<strong>" + parseFloat(data.electricityPrice).toFixed(5) + "</strong> kWH";
              document.getElementById("marketBufferRatio").innerHTML = "Production market/buffer ratio: " + "<strong>" + parseFloat(data.marketRatio) + "/" + parseFloat(data.bufferRatio) + "</strong>";
              document.getElementById("username").innerHTML = "Welcome, " + data.username + "!";
              document.getElementById("powerPlantStatus").innerHTML = data.powerPlantStatus;
            });
          }

          function saveElectricityprice() {
            var newPrice = document.getElementById("price").value;
            newPrice = parseFloat(newPrice);
            if (typeof(newPrice) == "number" && newPrice == newPrice) {
              $.post( "./saveElectricityPrice", {price: newPrice});
            }
          }

          function saveMarketBufferRatio() {
            var newMarketRatio = document.getElementById("prodMarketInput").value;
            var newBufferRatio = document.getElementById("prodBufferInput").value;
            newMarketRatio = parseFloat(newMarketRatio);
            newBufferRatio = parseFloat(newBufferRatio);
            $.post( "./saveMarketBufferRatio", {marketRatio: newMarketRatio, bufferRatio: newBufferRatio});
          }

          function savePowerPlantStatus() {
            var powerPlantStatus = document.getElementById("powerPlantStatus").innerHTML;
            if (powerPlantStatus == "Running") {
              powerPlantStatus = "Stopped";
              $.post( "./savePowerPlantStatus", {powerPlantStatus: "Stopped"});
            } else if (powerPlantStatus == "Stopped") {
              powerPlantStatus = "Starting";
              $.post( "./savePowerPlantStatus", {powerPlantStatus: "Starting"});

              document.getElementById("powerPlantStatus").disabled = true;
              setTimeout(function(){
                document.getElementById("powerPlantStatus").disabled = false;
                document.getElementById("powerPlantStatus").innerHTML = "Running";
              },3000);
            }
          }

          window.onload = init;

          function prodMarketChange() {
          var x = document.getElementById("prodMarketInput").value;
          document.getElementById("prodBufferInput").value = 100-x;
          var y = document.getElementById("prodBufferInput").value;
          document.getElementById("prodMarket").innerHTML = x;
          document.getElementById("prodBuffer").innerHTML = y;
          }
          function prodBufferChange() {
          var x = document.getElementById("prodBufferInput").value;
          document.getElementById("prodMarketInput").value = 100-x;
          var y = document.getElementById("prodMarketInput").value;
          document.getElementById("prodMarket").innerHTML = y;
          document.getElementById("prodBuffer").innerHTML = x;
          }

          setInterval(function(){
            $.get( "./getAll", function( data ) {
              document.getElementById("windSpeed").innerHTML = "Wind: " + "<strong>" + parseFloat(data.windSpeed).toFixed(3) + "</strong> m/s" ;
              dateStr = data.date.split("GMT")
              document.getElementById("date").innerHTML = "Data fetched: " + "<strong>" + dateStr[0] + "</strong>" ;
              document.getElementById("modelledElectricityPrice").innerHTML = "Modelled electricity price: " + "<strong>" + parseFloat(data.modelledElectricityPrice).toFixed(3) + " </strong>cent/kWH" ;
            });

            $.get( "./getManagerData", function( data ) {
              document.getElementById("production").innerHTML = "Production: " + "<strong>" + parseFloat(data.production).toFixed(5) + "</strong> kWH";
              document.getElementById("electricityPrice").innerHTML = "Electricity price on the market: " + "<strong>" + parseFloat(data.electricityPrice) + " </strong>cent/kWH";
              document.getElementById("marketBufferRatio").innerHTML = "Production market/buffer ratio: " + "<strong>" + parseFloat(data.marketRatio) + "/" + parseFloat(data.bufferRatio) + "</strong>";
            });
          }, 500);