extends layout

block content
  div.mt-6
    a(href='https://github.com/davsde-7/cardav')
      img(style="display: block;margin-left: auto;margin-right: auto;width: 50%;" src="images/house.png")
  
  