doctype html
html
  head
    title = M7011E Project
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
  body
    block content
    br
    hr
      footer#panel-footer.font-small.blue
        div#footer-copyright.text-center.py-3
          p © 2019 Copyright: loGo
          a(href="/", test)


