doctype html
html
  head
    title M7011E Project
    link(rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css')    
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/') CarDav
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if !userData
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/register') Register
          else
            li.nav-item
              if userData.role=="manager"
                a.nav-link(href='/dashboard_manager/') Dashboard
              else 
                a.nav-link(href='/dashboard_prosumer/') Dashboard
            li.nav-item
              a.nav-link(href='/users') Profile
            if userData.role=="manager"
              li.nav-item
                a.nav-link(href='/prosumers/') Prosumers
            li.nav-item
              a.nav-link(href='/logout') Logout
    .container.mt-6
      if error
        if error!=""
          div(class="alert alert-danger") #{error}
      if success
        if success!=""
          div(class="alert alert-success") #{success}
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
      

