extends layout_loggedin

block content
    div.mt-6
        h5 Manager contact page

        br
        br
        
        style(type='text/css').
            #wrap {
            width:600px;
            margin:0 auto;
            }
            #left_col {
            float:left;
            width:50%;
            }
            #right_col {
            float:right;
            width:50%;
            }

        #wrap
        #left_col
            br
            br
            h7 #[strong Username: ] username
            br
            h7 #[strong Email: ] email@email.email
            br
            h7 #[strong Phone number: ] 070 43 12 414
            br
            h7 #[strong Office hours: ] Mon-Fri, 8-17
        #right_col
            img(style="display: block;width: 50%;" src="images/house.png")
            br

