extends layout

block content
    div.mt-6
        h5 Profile page
        img(style="display: block;width: 30%;" src="images/house.png")
        br
        h7 #[strong Update picture]
        form(action='')
            label(for='img') Select picture: &nbsp;
            input#img(type='file' name='img' accept='image/*')
            br
            input(type='submit' value='Upload')