extends layout_loggedin

block content
    div.mt-6
        if user.username == "manager" && userData.role!="manager"
            h5 Manager contact page
        else
            h5 Profile page        
        style(type='text/css').
            #wrap {
            width:600px;
            margin:0 auto;
            }
            #left_col {
            float:left;
            width:50%;
            }
            #right_col {
            float:right;
            width:50%;
            }

        #wrap
        #left_col
            br
            h7 #[strong Username:] #{user.username}
            br
            h7 #[strong Email: ] #{user.email}
            br
            h7 #[strong User since: ] #{user.creationdate}
            br
            h7 #[strong Role: ] #{user.role}
            br
            if user.username == "manager"
                h7 #[strong Phone number: ] 070 43 12 414
                br
                h7 #[strong Office hours: ] Mon-Fri, 8-17
            br
            if userData.role == "manager" && user.username!="manager"
                h7 #[strong Block from selling to market]
                br
                label(for='block') Block: 
                input#block(type='range' min='10' max='100' value='50' step='10' onchange='blockChange()')
                output#blockoutput 50
                br
                .col-sm-8(style="padding-left: 0")
                button#view.btn.btn-primary(name='production' onclick="saveBlock()") Block
                br
                br
                form(method='POST', action='/users/'+user.username+'/edit')
                    .col-sm-8(style="padding-left: 0")
                    button#view.btn.btn-primary(name='edit' type="submit") Edit user

        #right_col
            img(style="display: block;width: 50%;" src="../images/"+user.username+".png")
            br
            if userData.username==user.username || userData.role=="manager"
                h7 #[strong Update picture]
                form(method='post' enctype='multipart/form-data' action='./'+user.username+'/upload')
                    label(for='img') Select picture: &nbsp;
                    input#img(type='file' name='image' accept='image/*')
                    br
                    input(type='submit' value='Upload')

                script.
                    function blockChange() {
                        var x = document.getElementById("block").value;
                        document.getElementById("blockoutput").value = x;
                    }

                    function saveBlock() {
                        var timeBlock = document.getElementById("block").value;
                        timeBlock = parseFloat(timeBlock);
                        $.post( "./"+window.location.pathname.split("/")[2]+"/saveBlock", {timeBlock: timeBlock});
                    }

                    function edit() {
                        $.get("./"+window.location.pathname.split("/")[2]+"/edit");
                    }

        
